// --------------------------------------------------
// GENERAL
// --------------------------------------------------

@use "sass:color";
$transition-duration: 300ms;

// BRAND COLORS
$brand-dark-blue: #002129;
$brand-green: #99C24d;
$brand-blue: #00627a;
$brand-white: #f3f2fa;

// GENERAL COLORS
$grey: #bdbdbd;
$light-grey: #e8e8e8;

$success: #1dbf22;
$info: $brand-blue;
$warning: #fa8611;
$error: #b3261e;

.overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
}

.close-button {
    margin: 0;
    padding: 0;
    border: none;
    background: 0;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: .75rem;
        left: 0;
        right: 0;
        height: .25rem;
        background: #000000;
        border-radius: 0.25rem;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

// --------------------------------------------------
// --- GENERAL ---
// --------------------------------------------------


// --------------------------------------------------
// BUTTON
// --------------------------------------------------

$button-background: $brand-green;
$button-border-color: $brand-green;
$button-font-color: #ffffff;

$dark-button-background: $brand-green;
$dark-button-border-color: $brand-green;
$dark-button-font-color: #ffffff;

button {
    padding: .5rem 2rem;
    background-color: $button-background;
    color: $button-font-color;
    cursor: pointer;
    border: solid $button-border-color 0.125rem;
    border-radius: 0.1875rem;
    font-size: 1rem;
    transition-duration: $transition-duration;

    body.dark-mode & {
        background-color: $dark-button-background;
        border-color: $dark-button-border-color;
    }

    &:hover {
        transform: scale(1.05, 1.05);
    }
}

// --------------------------------------------------
// FORM ERRORS
// --------------------------------------------------

.turbo-ui.input .input-error,
.turbo-ui.checkbox .input-error,
.turbo-ui.radio .input-error,
.turbo-ui.select .input-error {
    font-size: 0.875rem;
    margin-top: .5rem;
    color: $error;
    padding-left: 1.25rem;
}

.turbo-ui.checkbox .input-error,
.turbo-ui.radio .input-error {
    padding-left: 0;
}

// --------------------------------------------------
// --- FORM ERRORS ---
// --------------------------------------------------

// --------------------------------------------------
// --- BUTTON ---
// --------------------------------------------------

// --------------------------------------------------
// INPUT, TEXTAREA
// --------------------------------------------------

$input-background-color: $light-grey;
$input-border-color: $grey;
$input-font-color: $brand-dark-blue;

$submit-background-color: $brand-green;
$submit-border-color: $brand-green;
$submit-font-color: $brand-white;

$dark-input-background-color: color.scale($grey, $lightness: 15%);
$dark-input-border-color: $brand-white;
$dark-input-font-color: $brand-dark-blue;

$dark-submit-background-color: $brand-green;
$dark-submit-border-color: $brand-green;
$dark-submit-font-color: $brand-white;

.turbo-ui.input {
    position: relative;
    width: 100%;
    height: auto;
    margin: 1.5rem 0 0 0;

    & label {
        padding: 0.875rem 1.25rem;
        font-size: 1rem;
        transition: .3s ease all;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        color: $input-font-color;
    }

    & input,
    & textarea {
        display: block;
        color: $input-font-color;

        &:focus {
            border-color: transparent;
            box-shadow: none;
            outline: none;
        }
    }

    & input:-webkit-autofill {
        -webkit-box-shadow: 0, 0, 0, 1.875rem $input-background-color intent !important;
        transition: background-color 5000s ease-in-out 0s;

        body.dark-mode & {
            -webkit-box-shadow: 0, 0, 0, 1.875rem $dark-input-background-color intent !important;
        }
    }

    & input:not([type="submit"]),
    & textarea {
        width: 100%;
        border: solid .125rem $input-background-color;
        border-radius: .25rem;
        padding: .75rem 1.25rem;
        box-shadow: none;
        background-color: $input-background-color;
        height: 3rem;
        font-family: inherit;
        font-size: 1rem;
        resize: vertical;

        body.dark-mode & {
            border-color: $dark-input-background-color;
            background-color: $dark-input-background-color;
        }

        &:focus {
            border-color: $input-border-color;

            body.dark-mode & {
                border-color: $dark-input-border-color;
            }
        }

        &:focus + label,
        &:-webkit-autofill + label,
        &.filled + label {
            font-size: 0.75rem;
            top: -0.6rem;
            left: calc(1.25rem - 0.3125rem);
            padding: 0.1875rem 0.3125rem;
            background-color: $input-background-color;
            border-radius: .125rem;

            body.dark-mode & {
                background-color: $dark-input-background-color;
            }
        }
    }

    &.error {
        & label {
            color: $error;
        }

        & input:not([type="submit"]),
        & textarea {
            border-color: $error;
        }
    }

    & input[type="submit"] {
        width: 100%;
        height: 3rem;
        text-align: center;
        padding: .75rem 3rem;
        border-radius: .25rem;
        background-color: $submit-background-color;
        color: $submit-font-color;
        border: solid 0.125rem $submit-border-color;
        cursor: pointer;
        transition-duration: .3s;
        font-size: 1rem;

        body.dark-mode & {
            background-color: $dark-submit-background-color;
            border-color: $dark-submit-border-color;
            color: $dark-submit-font-color;
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }
    }
}

// --------------------------------------------------
// --- INPUT, TEXTAREA ---
// --------------------------------------------------

// --------------------------------------------------
// CHECKBOX, RADIO, TOGGLE
// --------------------------------------------------

$checkbox-background: $light-grey;
$checkbox-checked-background: #337ab7;
$radio-border-color: #cccccc;

$dark-checkbox-background: $light-grey;
$dark-checkbox-checked-background: #337ab7;
$dark-radio-border-color: #cccccc;

$input-left: 1rem;

.turbo-ui.checkbox,
.turbo-ui.radio,
.turbo-ui.toggle {
    position: relative;
    padding: 1rem 1rem 1rem $input-left;
    text-align: left;

    label {
        cursor: pointer;
        margin-left: 2.5rem;
        line-height: 1.75rem;

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            width: 1.5rem;
            height: 1.5rem;
            background-color: $checkbox-background;
            border: solid $checkbox-background 0.125rem;
            border-radius: 0.125rem;
            left: $input-left;
            transition: .3s;

            body.dark-mode & {
                background-color: $dark-checkbox-background;
                border-color: $dark-checkbox-background;
            }
        }
    }

    input {
        position: absolute;
        outline: none;
        top: 0;
        left: -999px;
        visibility: hidden;

        &:disabled + label {
            cursor: default;

            &:before {
                border-color: rgba(0, 0, 0, .26);
            }
        }

        &:disabled:checked + label:before {
            background-color: rgba(0, 0, 0, .26);
            border-color: rgba(0, 0, 0, .26);
        }

        &:checked + label {
            &:before {
                background-color: $checkbox-checked-background;
                border: solid $checkbox-checked-background 0.125rem;

                body.dark-mode & {
                    background-color: $dark-checkbox-checked-background;
                    border-color: $dark-checkbox-checked-background;
                }
            }

            &:after {
                left: $input-left;
                background-color: transparent;
                width: .9rem;
                height: .35rem;
                transform: translate(.4rem, .45rem) rotate(-55deg);
                border: solid .175rem #ffffff;
                border-top: none;
                border-right: none;
            }
        }
    }
}

.turbo-ui.radio {
    & label:before {
        border-radius: 50%;
    }

    & input:checked + label {
        &:before {
            background-color: $checkbox-background;
            border-color: $radio-border-color;

            body.dark-mode & {
                border-color: $dark-radio-border-color;
            }
        }

        &:after {
            background-color: $checkbox-checked-background;
            width: 1rem;
            height: 1rem;
            transform: translate(0, .25rem);
            border-radius: 50%;
            left: calc(#{$input-left + .25});
            border: solid $checkbox-checked-background .125rem;

            body.dark-mode & {
                background-color: $dark-checkbox-checked-background;
                border-color: $dark-checkbox-checked-background;
            }
        }
    }
}

$toggle-width: 4rem;

$toggle-height: $toggle-width / 2;
$point-ratio: .38;
$point-size: $toggle-width * $point-ratio;
$toggle-border-radius: $toggle-width / 2;
$margin-ratio: .085;
$point-margin: $toggle-width * $margin-ratio;

.turbo-ui.toggle {
    & label {
        display: flex;
        align-items: center;
        text-indent: -99999px;
        width: $toggle-width;
        border: none;
        margin-left: 0;

        &:before {
            width: $toggle-width;
            height: $toggle-height;
            border-radius: $toggle-height;
            border: none;
        }

        &:after {
            background-color: $checkbox-checked-background;
            width: $point-size;
            height: $point-size;
            border-radius: 50%;
            left: #{$input-left + $point-margin};
            transform: none;
            transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 300ms;

            body.dark-mode & {
                background-color: $dark-checkbox-checked-background;
            }
        }
    }

    & input:checked + label {
        &:before {
            background-color: $checkbox-checked-background;
            border: none;

            body.dark-mode & {
                background-color: $dark-checkbox-checked-background;
            }
        }

        &:after {
            width: $point-size;
            height: $point-size;
            background-color: $checkbox-background;
            transform: translateX(#{$toggle-width - $point-size - (2 * $point-margin)});
            left: #{$input-left + $point-margin};
            border: none;

            body.dark-mode & {
                background-color: $checkbox-background;
            }
        }
    }
}

// --------------------------------------------------
// --- CHECKBOX, RADIO, TOGGLE ---
// --------------------------------------------------

// --------------------------------------------------
// SELECT
// --------------------------------------------------

$select-background: $light-grey;
$select-options-background: #fbfbfb;
$select-border-color: #cccccc;
$select-label-color: #000000;
$select-arrow-color: #000000;
$select-scrollbar-color: $brand-blue;

$select-active-item-color: #000000;
$select-active-item-weight: 600;

$select-disabled-item-color: #000000;
$select-disabled-item-opacity: .7;

$select-not-found-item-color: #000000;
$select-item-color: #000000;
$select-item-hover-color: #ededed;

$multiselect-selected-background: $brand-blue;
$multiselect-selected-font-color: #ffffff;


$dark-select-background: $light-grey;
$dark-select-options-background: #fbfbfb;
$dark-select-border-color: #cccccc;
$dark-select-label-color: #000000;
$dark-select-arrow-color: #000000;
$dark-select-scrollbar-color: $brand-blue;

$dark-select-active-item-color: #000000;
$dark-select-active-item-weight: 600;

$dark-select-disabled-item-color: #000000;
$dark-select-disabled-item-opacity: .7;

$dark-select-not-found-item-color: #000000;
$dark-select-item-color: #000000;
$dark-select-item-hover-color: #ededed;

$dark-multiselect-selected-background: $brand-blue;
$dark-multiselect-selected-font-color: #ffffff;

.turbo-ui.select {
    ::-webkit-scrollbar,
    ::-webkit-scrollbar {
        width: .5rem;
        height: .5rem;
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: $select-scrollbar-color;

        body.dark-mode & {
            border-radius: $dark-select-scrollbar-color;
        }
    }

    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
        background-color: $select-scrollbar-color;
        border-radius: .125rem;

        body.dark-mode & {
            background-color: $dark-select-scrollbar-color;
        }
    }

    label, select {
        display: none;
    }

    & .turbo-select {
        min-width: 10rem;
        max-width: 100%;
        height: 2.65rem;
        display: flex;
        justify-content: space-between;
        border: solid 0.0625rem $select-border-color;
        background-color: $select-background;
        border-radius: 0.1875rem;

        body.dark-mode & {
            background-color: $dark-select-background;
            border-color: $dark-select-border-color;
        }

        &.multiselect {
            height: auto;
            min-height: 2.65rem;

            & .label {
                & div.selected-option {
                    line-height: initial;
                }
            }
        }

        &.searchable .options-wrapper {
            cursor: text;
        }

        &.multiselect .label.search {
            position: initial;
            top: unset;
            left: unset;
            margin-left: 0;
            min-height: 2.65rem;
            height: auto;

            & input {
                position: initial;
                max-width: 5rem;
                width: auto;
                display: inline-flex;
                padding-left: 0;
                min-height: 2.65rem;
            }

            &.selected input {
                margin-left: .5rem;
            }
        }
    }

    & .options-wrapper {
        width: calc(100% - 3rem);
        min-width: 7rem;
        display: flex;
        align-items: center;
        padding-left: 3%;
        cursor: pointer;
        position: relative;
        user-select: none;
        min-height: 2.65rem;
    }

    & .label {
        opacity: .6;
        height: 2.65rem;
        line-height: 2.65rem;
        color: $select-label-color;

        body.dark-mode & {
            color: $dark-select-label-color;
        }

        &.selected {
            opacity: 1;
        }

        &.search {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        & div.selected-option {
            padding: .25rem .8rem .25rem 1rem;
            text-align: center;
            min-width: 4rem;
            background-color: $multiselect-selected-background;
            color: $multiselect-selected-font-color;
            border-radius: .25rem;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: default;
            margin: .5rem .8rem .5rem 0;

            body.dark-mode & {
                background-color: $dark-multiselect-selected-background;
                color: $dark-multiselect-selected-font-color;
            }

            &.next-row {
                margin-top: 0;
            }
        }

        & div.remove-button {
            width: 1rem;
            height: 1rem;
            margin-left: .4rem;
            position: relative;
            cursor: pointer;
            border-radius: .25rem;

            & div.remove-line {
                width: .7rem;
                height: 0.125rem;
                background-color: $multiselect-selected-font-color;
                position: absolute;
                right: 0;

                body.dark-mode & {
                    background-color: $dark-multiselect-selected-font-color;
                }

                &:first-child {
                    transform: rotate(45deg) translate(.3rem, .3rem);
                }

                &:last-child {
                    transform: rotate(-45deg) translate(-.3rem, .3rem);
                }
            }
        }

        & input {
            font-family: inherit;
            height: 100%;
            width: 100%;
            border: none;
            font-size: 1rem;
            background-color: transparent;
            padding-left: 3%;

            &::placeholder {
                opacity: 1;
                color: $select-label-color;

                body.dark-mode & {
                    color: $dark-select-label-color;
                }
            }

            &::-ms-input-placeholder {
                opacity: 1;
                color: $select-label-color;

                body.dark-mode & {
                    color: $dark-select-label-color;
                }
            }
        }
    }

    & .options {
        display: none;
        align-self: flex-start;
        margin-top: 2.5rem;
        position: absolute;
        top: -0.0625rem;
        left: -0.0625rem;
        background-color: $select-options-background;
        width: calc(100% + 3.0625rem);
        z-index: 1000;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
        max-height: 15rem;
        overflow-y: auto;
        color: $select-item-color;

        body.dark-mode & {
            background-color: $dark-select-options-background;
            box-shadow: rgba(200, 200, 202, 0.25) 0 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
            color: $dark-select-item-color;
        }

        &.opened {
            display: block;
        }

        & div {
            display: block;
            cursor: pointer;
            padding: .5rem 1rem;
            border-bottom: solid 0.0625rem rgba(0, 0, 0, .05);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: $select-item-hover-color;

                body.dark-mode & {
                    background-color: $dark-select-item-hover-color;
                }
            }

            &.disabled {
                color: $select-disabled-item-color;
                cursor: default;
                opacity: $select-disabled-item-opacity;

                body.dark-mode & {
                    color: $dark-select-disabled-item-color;
                    opacity: $dark-select-disabled-item-opacity;
                }
            }

            &.active {
                color: $select-active-item-color;
                font-weight: $select-active-item-weight;

                body.dark-mode & {
                    color: $dark-select-active-item-color;
                    font-weight: $dark-select-active-item-weight;
                }
            }

            &.not-found-option {
                color: $select-not-found-item-color;
                cursor: text;
                user-select: text;

                body.dark-mode & {
                    color: $dark-select-not-found-item-color;
                }
            }
        }
    }

    & .dropdown-arrow {
        max-width: 3rem;
        width: 20%;
        height: 2.65rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        align-self: center;

        & div {
            display: block;
            width: 0.125rem;
            height: .75rem;
            background-color: $select-arrow-color;
            margin: 0;

            body.dark-mode & {
                background-color: $dark-select-arrow-color;
            }

            &:first-child {
                transform: translateX(.29rem) rotate(45deg);
            }

            &:last-child {
                transform: translateX(-.29rem) rotate(-45deg);
            }
        }
    }
}

// --------------------------------------------------
// --- SELECT ---
// --------------------------------------------------

// --------------------------------------------------
// MODAL
// --------------------------------------------------

$modal-background: #f5f5f5;

$modal-header-border: $brand-dark-blue;
$modal-heading-font-color: #000000;
$modal-footer-background: $light-grey;

$modal-secondary-border: $brand-dark-blue;
$modal-secondary-background: transparent;
$modal-secondary-font-color: $brand-dark-blue;

$modal-primary-border: $brand-blue;
$modal-primary-background: $brand-blue;
$modal-primary-font-color: $brand-white;


$dark-modal-background: #f5f5f5;

$dark-modal-header-border: $brand-dark-blue;
$dark-modal-heading-font-color: #000000;
$dark-modal-footer-background: $light-grey;

$dark-modal-secondary-border: $brand-dark-blue;
$dark-modal-secondary-background: transparent;
$dark-modal-secondary-font-color: $brand-dark-blue;

$dark-modal-primary-background: $brand-blue;
$dark-modal-primary-border: $brand-blue;
$dark-modal-primary-font-color: $brand-white;

.turbo-modal,
.turbo-confirmation {
    width: 60%;
    height: auto;
    background-color: $modal-background;
    border-radius: 0.3125rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.8) 0 0.4375rem 1.8125rem 0;
    z-index: 100;

    body.dark-mode & {
        background-color: $dark-modal-background;
    }

    & .modal-header {
        padding: 1% 3%;
        border-bottom: solid 0.125rem $modal-header-border;

        body.dark-mode & {
            border-color: $dark-modal-header-border;
        }

        & h2 {
            color: $modal-heading-font-color;

            body.dark-mode & {
                color: $dark-modal-heading-font-color;
            }
        }
    }

    & .modal-content,
    & .confirmation-content {
        min-height: 5rem;
        max-height: 55vh;
        overflow-y: auto;
        padding: 2% 3%;
        margin: 1% 0;
    }

    & .modal-footer,
    & .confirmation-footer {
        background-color: $modal-footer-background;
        width: 100%;
        height: 5rem;
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: right;

        body.dark-mode & {
            background-color: $dark-modal-footer-background;
        }

        & button {
            margin-right: 3rem;
            width: 8rem;
            user-select: none;

            &.modal-secondary {
                background-color: $modal-secondary-background;
                border: solid 0.0625rem $modal-secondary-border;
                color: $modal-secondary-font-color;

                body.dark-mode & {
                    background-color: $dark-modal-secondary-background;
                    border-color: $dark-modal-secondary-border;
                    color: $dark-modal-secondary-font-color;
                }
            }

            &.modal-primary {
                background-color: $modal-primary-background;
                border-color: $modal-primary-border;
                color: $modal-primary-font-color;

                body.dark-mode & {
                    background-color: $dark-modal-primary-background;
                    border-color: $dark-modal-primary-border;
                    color: $dark-modal-primary-font-color;
                }
            }

            &:last-child {
                margin-right: 6rem;
            }
        }
    }
}

// --------------------------------------------------
// --- END MODAL ---
// --------------------------------------------------

// --------------------------------------------------
// CONFIRMATION
// --------------------------------------------------

.turbo-confirmation {
    width: 30%;

    & .confirmation-content {
        min-height: 3rem;
    }

    & .confirmation-footer {
        height: 4rem;

        & button {
            background-color: $modal-primary-background;
            border-color: $modal-primary-border;

            &:last-child {
                margin-right: 2rem;
            }
        }
    }
}

// --------------------------------------------------
// --- END CONFIRMATION ---
// --------------------------------------------------

// --------------------------------------------------
// NOTIFICATION
// --------------------------------------------------

$notification-background: #f5f5f5;
$notification-font-color: #000000;

$notification-info-color: $info;
$notification-success-color: $success;
$notification-warning-color: $warning;
$notification-error-color: $error;

$dark-notification-background: $light-grey;
$dark-notification-font-color: #000000;

$dark-notification-info-color: $info;
$dark-notification-success-color: $success;
$dark-notification-warning-color: $warning;
$dark-notification-error-color: $error;

.turbo-notification {
    position: fixed;
    top: 5%;
    right: 3%;
    background-color: $notification-background;
    width: 40vh;
    border-radius: 0.3125rem;
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    color: $notification-font-color;

    body.dark-mode & {
        background-color: $dark-notification-background;
        color: $dark-notification-font-color;
    }

    & h2 {
        padding: 7% 15%;
        border-bottom: solid 0.125rem $notification-info-color;
        margin: 0;
        font-weight: inherit;

        body.dark-mode & {
            border-color: $dark-notification-info-color;
        }
    }

    & p {
        padding: 5% 10%;
    }

    & .notification-level {
        width: 2%;
        background-color: $notification-info-color;

        body.dark-mode & {
            background-color: $dark-notification-info-color;
        }
    }

    &.info {
        & .notification-level {
            background-color: $notification-info-color;

            body.dark-mode & {
                background-color: $dark-notification-info-color;
            }
        }

        & h2 {
            border-bottom-color: $notification-info-color;

            body.dark-mode & {
                border-bottom-color: $dark-notification-info-color;
            }
        }
    }

    &.success {
        & .notification-level {
            background-color: $notification-success-color;

            body.dark-mode & {
                background-color: $dark-notification-success-color;
            }
        }

        & h2 {
            border-bottom-color: $notification-success-color;

            body.dark-mode & {
                border-bottom-color: $dark-notification-success-color;
            }
        }
    }

    &.warning {
        & .notification-level {
            background-color: $notification-warning-color;

            body.dark-mode & {
                background-color: $dark-notification-warning-color;
            }
        }

        & h2 {
            border-bottom-color: $notification-warning-color;

            body.dark-mode & {
                border-bottom-color: $dark-notification-warning-color;
            }
        }
    }

    &.error {
        & .notification-level {
            background-color: $notification-error-color;

            body.dark-mode & {
                background-color: $dark-notification-error-color;
            }
        }

        & h2 {
            border-bottom-color: $notification-error-color;

            body.dark-mode & {
                border-bottom-color: $dark-notification-error-color;
            }
        }
    }

    & .notification-content {
        width: 98%;
    }

    & .close-button {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 10%;
        right: 5%;

        &:before,
        &:after {
            height: .125rem;
        }
    }
}

// --------------------------------------------------
// --- END NOTIFICATION ---
// --------------------------------------------------

// --------------------------------------------------
// LOADER
// --------------------------------------------------

$loader-half-1-background: $brand-blue;
$loader-half-2-background: $brand-green;

$dark-loader-half-1-background: $brand-white;
$dark-loader-half-2-background: $brand-green;

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    z-index: 99999;
    transform: translate(-50%, -50%);

    & div {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        animation: loader 1.2s cubic-bezier(0.5, 0, .5, 1) infinite;
        margin: .5rem;
        border: solid .5rem;

        &:nth-child(1) {
            border-color: $loader-half-1-background transparent transparent transparent;
            animation-delay: -.45s;

            body.dark-mode & {
                border-color: $dark-loader-half-1-background transparent transparent transparent;
            }
        }

        &:nth-child(2) {
            border-color: $loader-half-2-background transparent transparent transparent;
            animation-delay: -.3s;

            body.dark-mode & {
                border-color: $dark-loader-half-2-background transparent transparent transparent;
            }
        }

        &:nth-child(3) {
            border-color: $loader-half-2-background transparent transparent transparent;
            animation-delay: -.15s;

            body.dark-mode & {
                border-color: $dark-loader-half-2-background transparent transparent transparent;
            }
        }
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// --------------------------------------------------
// --- END LOADER ---
// --------------------------------------------------
